@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	@apply bg-zinc-950 text-white font-main;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(42, 42, 42) inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
	-webkit-text-fill-color: white !important;
}
